body {
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(45, 112, 253, 1) 100%);
}

.landingPC {
    background: white !important;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: 2%;
    border-radius: 10px;
    padding: 5%;
}

.imgLanding {
    border-radius: 10PX;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#btnLanding {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.columnaUno {
    display: flex;
    align-items: center;
    justify-content: center;
}

.columnaDos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Catalogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#idHome {
    cursor: pointer;
}